<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserve page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .header-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 15%;
        }
        .btn-home {
            display: block;
            margin-left: auto;
            margin-right: 250px;
            width: fit-content;
        }
        .table {
            width: 100%;
        }
    </style>
</head>
<body>
<br>
<div class="text-center mb-5">
    <a href="/chillSports/companyList">
        <img src="/images/image-removebg-preview.png" alt="ChillSports 로고" class="header-image">
    </a>
    <div class="mt-3 text-right">
        <a href="/chillSports/companyList" class="btn btn-info btn-home">홈 화면</a>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${company.conm}">상호명</h1>
            <br>
            <h5>예약을 진행하세요</h5>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">주소</th>
                    <td th:text="${company.lctn}"></td>
                </tr>
                <tr>
                    <th scope="row">업종</th>
                    <td th:text="${company.tpbiz}"></td>
                </tr>
                <tr>
                    <th scope="row">상호명</th>
                    <td th:text="${company.conm}"></td>
                </tr>
                <tr>
                    <th scope="row">전화번호</th>
                    <td th:text="${company.telno}"></td>
                </tr>
                <tr>
                    <th scope="row">예약하기 링크</th>
                    <td><a th:href="${company.chat_url}" th:text="${company.chat_url}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
