<!-- 사용자, 업체등록 선택 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChillSports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .header-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        .custom-image {
            width: 80%;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/images/logo.jpg" alt="ChillSports 로고" class="header-image">
        </div>
    </div>
    <br>
    <h5 class="text-center">안양시 체육시설업 예약서비스 Chill Sports 입니다. 아래의 버튼을 눌러 이동해주세요</h5>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="img-container">
                <a href="/chillSports/companyList">
                    <img src="/images/user_image.jpg" alt="사용자용 페이지로 이동" class="img-fluid custom-image">
                </a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="img-container">
                <a href="/chillSports/companyList/admin">
                    <img src="/images/admin_image.jpg" alt="관리자용페이지로 이동" class="img-fluid custom-image">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
